:root {
  --primary-color: #252839;
  --secondary-color: #2b2e3f;
  --border-color: #4b4e5f;
  --text-color1: #fefefe;
  --text-color2: #f6f6f6;
  --shadow: rgba(0, 0, 0, 0.5);
  --online-status: #31cc46;
  --themes: #4b4e5f;
}

section:hover,
.my-works:hover {
  border-color: var(--themes);
}
.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 1rem;
}
.color-picker input[type="radio"] {
  appearance: none;
  width: clamp(1rem, 1.5vw, 2rem);
  height: clamp(1rem, 1.5vw, 2rem);
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}
.color-picker input[type="radio"]#red {
  --radio-color: #ec4555;
}
.color-picker input[type="radio"]#yellow {
  --radio-color: #fec733;
}
.color-picker input[type="radio"]#green {
  --radio-color: #59dea2;
}
:root:has(#red:checked) {
  --themes: #ec4555;
}
:root:has(#yellow:checked) {
  --themes: #fec733;
}
:root:has(#green:checked) {
  --themes: #59dea2;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#theme-switch {
  width: clamp(1.8rem, 2.3vw, 2.8rem);
  height: clamp(1.8rem, 2.3vw, 2.8rem);
  border-radius: 50%;
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#moon,
#sun {
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: var(--primary-color);
}
#moon {
  display: none;
}
.lightmode #sun {
  display: none;
}
.lightmode #moon {
  display: block;
}
.lightmode {
  --primary-color: #fcfcfc;
  --secondary-color: #ededed;
  --border-color: #d1d1d1;
  --text-color1: #000000;
  --text-color2: #41434f;
  --shadow: #dfdfdf;
}
