/* Color picker */
.color-picker > fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 0;
}
.color-picker input[type="radio"] {
  appearance: none;
  width: clamp(1rem, 1.5vw, 2rem);
  height: clamp(1rem, 1.5vw, 2rem);
  margin: 0;
  border-radius: 50%;
  padding: 0;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
}
.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}
.color-picker input[type="radio"]#red {
  --radio-color: #ec4555;
}
.color-picker input[type="radio"]#yellow {
  --radio-color: #fec733;
}
.color-picker input[type="radio"]#green {
  --radio-color: #59dea2;
}

/* Theme colors */
html.red-theme {
  --themes: #ec4555;
}
html.yellow-theme {
  --themes: #fec733;
}
html.green-theme {
  --themes: #59dea2;
}

/* Accessibility */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* Interactions */
section:hover,
.my-works:hover,
#social-links a:hover,
.project-tile:hover,
.certification-tile:hover,
.artwork-tile:hover {
  border-color: var(--themes);
}
#profile-image {
  border: 3px solid var(--themes);
}
#download,
#back-btn {
  border-color: var(--themes);
  box-shadow: 3px 4px var(--themes);
}
#social-links a:hover *,
#download:hover *,
#bug {
  color: var(--themes);
}
#social-links a:hover {
  box-shadow: 2px 3px var(--themes);
}
