:root {
  --primary-color: #252839;
  --secondary-color: #2b2e3f;
  --border-color: #4b4e5f;
  --text-color1: #fefefe;
  --text-color2: #f6f6f6;
  --shadow: rgba(0, 0, 0, 0.5);
}

/* light mode */
.lightmode {
  --primary-color: #fefefe;
  --secondary-color: #f6f6f6;
  --border-color: #4b4e5f;
  --text-color1: #252839;
  --text-color2: #2b2e3f;
  --shadow: rgba(0, 0, 0, 0.5);
}

/* Theme switch button */
.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(1rem, 1.5vw, 2rem);
  height: clamp(1rem, 1.5vw, 2rem);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  background-color: var(--secondary-color);
}

/* Icons */
#moon,
#sun {
  color: var(--text-color2);
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}
#moon {
  display: none;
}
.lightmode #sun {
  display: none;
}
.lightmode #moon {
  display: block;
}
